/* mobile and tablet: width <= 1024  */
@media only screen and (max-width:63.9375em) {
    .detail_cotainer {
        padding: 20px 20px !important;
    }
}

/* mobile : width < 740px */
@media only screen and (max-width:46.1875em) {
    .detail_cotainer {
        flex-direction: column;
    }

    .detail_response {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .detail_price {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .detail_button {
        position: sticky;
        bottom: 0;
    }
}

/* Tablet: width >= 740px and width<1024px*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em) {}

.detail_cotainer {
    display: flex;
    padding: 30px 80px;
}

.color-text-home {
    color: red;
}

.color-text-home:hover {
    color: rgb(190, 78, 74);
    text-decoration: underline;
}

.detail_page {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 13px;
}

.detail_img {
    width: 100%;
    max-height: 450px;
    border-radius: 5px;
    border: 1px solid rgb(212, 206, 206);
    border: 0;
}

.detail_price h2 {
    margin: 0;
}

.detail_price-1 {
    display: flex;
    padding-bottom: 5px;
}

.detail_price-1 p {
    margin-right: 20px;
    font-size: 20px;
}

.detail_price-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
}

.detail_description {
    padding-bottom: 20px;
}

.detail_button button {
    width: 50%;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.detail_button {
    display: flex;
}

.detail_button-font-cart {
    display: flex;
    justify-content: center;
    background-color: #dc3545;
    color: white;
    border: 1px solid white;
    transition: transform 0.8s ease;
}

.detail_button-font-cart:hover {
    background-color: #c73241;
    cursor: pointer;
}

.detail_button-font-cart:active {
    transform: scale(-0.01);
}

.detail_button-pay {
    border: 1px solid white;
    background-color: #007bff;
    color: white;
}

.detail_button-pay:hover {
    background-color: #2b80dc;
    cursor: pointer;
}